body
{
	margin: 0px;
	padding: 0px;
	font-family: verdana;
}

.quadro
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

input:hover
{
	background-color: #ddd;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

a
{
	text-decoration: none;
	color: #333;
}

a:hover,
button:hover
{
	color: #4AB72C;
}

label
{
	display: block;
	min-width: 110px;
	float: left;
	text-align: right;
	margin: 0px 5px 0px 0px;
}

#cabecalho
{
	background-color: #936230;
	border-bottom: 5px solid #595858;
	height: 50px;
	background: url('../img/bg2.gif') repeat;
}

#cabecalho a
{
	color: white;
}

#cabecalho a:hover
{
	color: #333;
}


#sigla
{
	padding: 5px;
	font-weight: bold;
	color: #fff;
	font-size: 12px;
}

#menu_usuario
{
	padding: 2px;
	margin-right: 5px;
	font-size: 12px;
	color: #fff;
	text-align: right;
	position: absolute;
	right: 2px;
	top: 30px;
}

#logos
{
	position: absolute;
	top: 5px;
	right: 5px;
}

#index
{
	margin: 90px auto;
	width: 185px;
	height: 187px;
	background-color: #ddd;
	background: url('../img/zend_framework.png') no-repeat;
}

#menu_modulos
{
	top: 31px;
	left: 5px;
	min-width: 200px;
	min-height: 24px;
	position: absolute;
	font-size: 13px;
}

#menu_modulos ul
{
	padding: 0px;
	margin: 0px;
	list-style: none;
	color: #fff;
}

#menu_modulos ul li
{
	display: inline;
}

#msg
{
	color: #fff;
	position: absolute;
	right: 200px;
	top: 30px;
}

.btForm
{
	width: 30px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#contador
{
	position: absolute;
	right: 200px;
	top: 5px;
	color: #fff;
	font-size: 11px;
}
#contador #cTxt
{
	float: left;
}
#contador .countdown_section
{
	padding: 0px 3px 0px 3px;
	float: left;
}
#contador .countdown_amount
{
	padding: 0px 2px 0px 2px;
	width: 20px;
	text-align: center;
	display: block;
	float: left;
}
