#listar
{
	width: 98%;
	margin: 0px auto;
	font-size: 12px;
}

#listar #barra
{
	margin: 5px 0px 5px 0px;
	background-color: #D1D194;
	height: 40px;
}

#listar #grade #menu
{
	float: left;
	min-width: 120px;
	margin: 0px 3px 0px 0px;
}

#listar #grade #menu ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#listar #grade #menu ul li
{
	line-height: 20px;
	border-bottom: 1px dashed #ccc;
}

#listar #grade #tabela
{

}

#listar #grade #menu a
{
	display: block;
	text-decoration: none;
	color: #333;
}

#listar #grade #menu a:hover
{
	color: #000;
	background-color: #E5E5BE;
}

#listar .cadastroAtivo
{
	background-color: #D1D194;
}

#listar table
{
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 10px;
}

#listar table tr:hover
{
	background-color: #D1D194;
	cursor: pointer;
}

#listar table tr td
{
	padding: 1px 3px 1px 3px;
}

#listar table th
{
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#listar th a.asc:after {
	content: ' ⇣';
	color: red;
}
#listar th a.desc:after {
	content: ' ⇡';
	color: red;
}

#listar th a
{
	display: block;
	text-decoration: none;
	color: #000;
	border: 1px solid #fff;
}

#listar th a:hover
{
	background-color: #acc4e6;
}

#listar table tr td
{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
